<form action="/Category/Create" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Name Category</td>
            <td><input type="text" name="Name" /></td>
        </tr>
    </table>
    <input type="submit" value="create" />
</form>